<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<!--HEAD-->
<div th:include="~{/fragments/header :: head}"></div>
<style>
    .card-img-top {
        height: 225px;
        object-fit: cover;
    }
</style>
<body>
<div th:include="~{/fragments/header :: header}"></div>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Restaurants</h1>
                <p class="lead text-body-secondary">Easily navigate and connect with the top-rated restaurants in your
                    area, receiving unique culinary experiences directly at your doorstep. Discover the best dishes,
                    exclusive promotions, and quality services that will transform your meals into unforgettable
                    moments.
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="restaurants-grid">
            </div>
        </div>
    </div>
</main>
<div th:include="~{/fragments/footer :: footer}"></div>
<script>
    require.config({
        paths: {
            'superagent': 'assets/dist/js/superagent/superagent.min',
            'index': 'assets/dist/js/clients/restaurant_api/index',
            'ApiClient': 'assets/dist/js/clients/restaurant_api/ApiClient',
            'api/RestaurantAdminApi': 'assets/dist/js/clients/restaurant_api/api/RestaurantAdminApi',
            'api/RestaurantApi': 'assets/dist/js/clients/restaurant_api/api/RestaurantApi',
            'model/Address': 'assets/dist/js/clients/restaurant_api/model/Address',
            'model/Pageable': 'assets/dist/js/clients/restaurant_api/model/Pageable',
            'model/Restaurant': 'assets/dist/js/clients/restaurant_api/model/Restaurant',
            'model/RestaurantPage': 'assets/dist/js/clients/restaurant_api/model/RestaurantPage',
            'model/RestaurantUserDetails': 'assets/dist/js/clients/restaurant_api/model/RestaurantUserDetails',
            'model/RestaurantUserDetailsPage': 'assets/dist/js/clients/restaurant_api/model/RestaurantUserDetailsPage',
            'model/Sort': 'assets/dist/js/clients/restaurant_api/model/Sort'
        }
    });

    require(['index'], function(OpenApiDefinition) {
        var restaurantApi = new OpenApiDefinition.RestaurantApi();
        restaurantApi.apiClient.basePath = '[[${gateway}]]/restaurants-service'.replace(/\/+$/, '');
        restaurantApi.apiClient.authentications['oauth2'] = {
            type: 'oauth2',
            accessToken: '[[${user.token}]]'
        };

        restaurantApi.getRestaurants({}, function(error, data, response) {
            if (error) {
                console.error(error);
            } else {
                addRestaurantsToGrid(data.content);
            }
        });
    });

    // Função para gerar um número aleatório entre 1 e 16 (inclusive)
    function getRandomImageNumber() {
        return Math.floor(Math.random() * 16) + 1;
    }

    // Função para criar e adicionar cards ao grid
    function addRestaurantsToGrid(restaurants) {
    const grid = document.getElementById('restaurants-grid');

    // Limpar o grid antes de adicionar novos cards
    grid.innerHTML = '';

    restaurants.forEach(restaurant => {
        const randomImageNumber = getRandomImageNumber();
        const imageUrl = `assets/images/vp-${randomImageNumber}.png`;
        const cardHTML = `
            <div class="col">
                <div class="card shadow-sm">
                    <img src="${imageUrl}" class="card-img-top" alt="Restaurant Image">
                    <div class="card-body">
                        <h5 class="card-title">${restaurant.name}</h5>
                        <p class="card-text">${restaurant.description}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary">${restaurant.distance} | ${restaurant.duration}</small>
                        </div>
                    </div>
                </div>
            </div>
        `;

        grid.innerHTML += cardHTML;
    });
    }
</script>
</body>
</html>